<!-- TITLE -->
<div class="mb-40 mt-40">
    <h1>Edit User</h1>
</div>

<div class="card">
    <div class="card-body">
        <form #editForm="ngForm" *ngIf="user">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input mdbInput mdbValidate type="text" id="username" [(ngModel)]="user.username" class="form-control" name="username" #username="ngModel" required [disabled]="user._id"><!--formControlName="username"  class="form-control"-->
                    </div>
                    <div class="form-group">
                        <label for="username">Correo</label>
                        <input mdbInput mdbValidate type="email" id="email" [(ngModel)]="user.email" class="form-control" name="email" #email="ngModel" required><!--formControlName="email" class="form-control"-->
                    </div>
                    <div class="form-group">
                        <label for="username">name</label>
                        <input mdbInput mdbValidate type="text"  id="name" [(ngModel)]="user.name" class="form-control" name="name" #name="ngModel" required><!-- formControlName="name"  class="form-control"-->
                    </div>
          
                    <div class="form-group " *ngIf="roles">
                      <mat-form-field appearance="form-control" >
                        <mat-label>Roles</mat-label>
                        <mat-select [(ngModel)]="user.roles" name="userroles" #userroles="ngModel" required multiple>
                          <mat-option *ngFor="let rol of roles" [value]="rol.name">
                            {{ rol.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="form-group" *ngIf="!user._id">
                        <label for="name">Password</label>
                        <input type="password" class="form-control" id="password"  class="form-control mb-4" placeholder="Colocar contraseña" [(ngModel)]="user.password" name="password" #password="ngModel" required><!--formControlName="password"-->
                    </div>
                    <div class="form-group" *ngIf="!user._id">
                        <label for="name">Password confirm</label>
                        <input type="password" class="form-control" id="passwordConfirm" [(ngModel)]="user.passwordConfirm" name="passwordConfirm" #passwordConfirm="ngModel" required>
                    </div>
                    <div class="mt-40">
                        <button class="btn btn-info" *ngIf="user._id" data-toggle="modal" data-target="#changePasswordModal">Change Password</button>
                        <button class="btn btn-primary pull-right btn-md btn-default mx-1" color="primary" [disabled]="editForm.invalid" (click)="save()">Save</button>
                        <button class="btn btn-secondary pull-right btn-md btn-default mx-1" [routerLink]="['/dashboard/user']">Back To User List</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-lock"></i>&nbsp;&nbsp;Change password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <form #changePasswordForm="ngForm" class="container-fluid">
                <div class="modal-body">
                    <div class="row justify-content-md-center">
                        <div class="col-10">
                            <div class="form-group">
                                <label for="passwordAdmin">Password Admin</label>
                                <input type="password" class="form-control" id="passwordAdmin" [(ngModel)]="passwordAdmin" name="passwordAdmin" #passwordAdminForm="ngModel" required>
                            </div>
                            <div class="form-group">
                                <label for="passwordNew">New Password</label>
                                <input type="password" class="form-control" id="passwordNew" [(ngModel)]="passwordNew" name="passwordNew" #passwordNewForm="ngModel" required>
                            </div>
                            <div class="form-group">
                                <label for="passwordNewConfirm">Confirm New Password</label>
                                <input type="password" class="form-control" id="passwordNewConfirm" [(ngModel)]="passwordNewConfirm" name="passwordNewConfirm" #passwordNewConfirmForm="ngModel" [ngClass]="{'is-invalid': passwordNew && passwordNewConfirm && passwordNew !== passwordNewConfirm}"
                                    required>
                                <p *ngIf="passwordNew && passwordNewConfirm && passwordNew !== passwordNewConfirm" class="help-block">Passwords missmatch</p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div *ngIf="showError" class="row justify-content-md-center">
                <div class="alert alert-danger text-left">
                    <strong>Error!</strong> Admin passsword not valid
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" #closeModal class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" [disabled]="changePasswordForm.invalid || (passwordAdmin && passwordNewConfirm && passwordNew !== passwordNewConfirm)" (click)="changePassword()">Save</button>
            </div>
        </div>
    </div>
</div>