
<!-- footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.1
    </div>
    <strong>Copyright © 2018-19 Konecta.</strong> Todos los derechos reservados.
</footer--> 

    <!--Footer-->
    <footer class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn  ">

      <!--Call to action-->
      <!--/.Call to action-->

      <!--Copyright-->
      <div class="footer-copyright py-3">
          © 2018-19 Copyright:
          <strong>Copyright © 2018-19 Arturo Perez.</strong> Todos los derechos reservados.
      </div>
      <!--/.Copyright-->

  </footer>
  <!--/.Footer-->