<!-- app-navigation></app-navigation-->

<div id="main-wrapper"  data-sidebar-position="absolute" data-header-position="fixed" data-layout="vertical"
[attr.data-sidebartype]="sidebartype"
data-theme="light"  data-boxed-layout="full">
    <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                    <div class="navbar-header" [ngClass]="(expandLogo)?'expand-logo':''" data-logobg="skin1">
                        <!-- This is for the sidebar toggle which is visible on mobile only -->
                        <a (click)="showMobileMenu = !showMobileMenu" class="nav-toggler waves-effect waves-light d-block d-md-none"
                            href="javascript:void(0)">
                            <i [ngClass]="(showMobileMenu)?'ti-close':'ti-menu'"></i>
                        </a>
                        <!-- ============================================================== -->
                        <!-- Logo -->
                        <!-- ============================================================== -->
                        <a class="navbar-brand" href="/">
                            <!-- Logo icon -->
                            <b class="logo-icon">
                                <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                                <!-- Light Logo icon -->
                                <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                            </b>
                            <!--End Logo icon -->
                            <!-- Logo text -->
                            <span class="logo-text">
                                <!-- Light Logo text -->
                                <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
                            </span>
                        </a>
                        <!-- ============================================================== -->
                        <!-- End Logo -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Toggle which is visible on mobile only -->
                        <!-- ============================================================== -->
                        <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                            data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="ti-more"></i>
                        </a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin6">
                        <app-topbar (toggleSidebar)="toggleSidebarType()" class="w-100"></app-topbar>
                    </div>
                </nav>
    </header>
    <aside class="left-sidebar" data-sidebarbg="skin5">
        <div class="scroll-sidebar">
            <app-sidebar></app-sidebar>
        </div>
    </aside>
    <main class="page-wrapper">    
        <div class="p-5">
            <alert class="mt-3"></alert>  
            <router-outlet>              
            </router-outlet>    
        </div>
    </main>

    <app-footer></app-footer>

</div>


<!-- nav class="navbar top-navbar navbar-expand-md navbar-light">
        <div class="navbar-header">
            <a class="nav-toggler waves-effect waves-light d-block d-md-none"
                href="#">
                <i class="ti-close"></i>
            </a>
            <a class="navbar-brand" href="/">
                <b class="logo-icon">
                    <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                </b>
                <span class="logo-text">
                    <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
                </span>
            </a>
            <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <i class="ti-more"></i>
            </a>
        </div>
        <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin6">
        </div>
</nav -->