<!-- div class="full">
    <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.email}} ({{user.name}}
            - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
        </li>
    </ul>
</div-->
    
<mdb-card class="rounded" cascade="true" narrower="true">

        
        <!--Card image>
        <div class="view view-cascade  gradient-card-header purple-gradient text-left" >
                <h4 class="card-header-title"><strong>Usuarios</strong></h4>
                <p>Todos los usuarios registrados: </p>
        </div>
        
        <Card image-->
    
        <div class="view view-cascade overlay blue-gradient lighten-1">
            <div class="row">
                <div class="col-md-6">
                        <h4 class="card-header-title pt-3 px-3"><strong>Nomina</strong></h4>
                        <p class="px-3">Todos los nomina registrados: </p>            
                </div>
                <div class="col-md-6 p-3">
                        <a class="btn btn-circle btn-lg btn-success float-right mx-1" [routerLink]="['new']"><i class="fa-plus fas"></i></a>        
                        <a class="btn btn-circle btn-lg btn-primary float-right mx-1" (click)="test.toggle()"><i class="fa-search fas"></i></a>                 
                </div>
            </div>
                
                <!-- mdb-icon far icon="money-bill-alt" class="Secondary-color text-right"></mdb-icon-->
        </div>
        
        <mdb-card-body cascade="true" class="text-center">
                <div mdbCollapse #test="bs-collapse">
        
                    <div class="col-xs-12 col-md-4 offset-md-4 mb-4">
                            <h3>
                                Buscar rol:
                            </h3>
                            <dynamic-form [config]="config"  
                            #form="dynamicForm"
                            (submit)="formSubmit($event)"> 
                            </dynamic-form>
                    </div>
                </div>
                <h1 class="p-3 mb-5 mt-5" *ngIf="nomina.length==0">
                    No existen entradas en la base de datos
                </h1>
                <table *ngIf="nomina.length!=0" mdbTable>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Fecha de <br> ingreso</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr mdbTableCol *ngFor="let persona of nomina  | search: form.value">
                        <td>{{persona.name}}</td>
                        <td>{{persona.datereg | date : format: "shortDate"}}</td>
                        <td><a class="btn btn-circle btn-md btn-danger " data-toggle="modal" data-target="#deleteModal" (click)="selectId(persona._id)"><i class="fa-minus fas"></i></a>
                            <a class="btn btn-circle btn-md btn-success mx-1" [routerLink]="[persona._id]"><i class="fa-pencil-alt fas"></i></a>
                        </td>
                        </tr>
                    </tbody>
                </table>
        </mdb-card-body>
    </mdb-card>

    

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <i class="fa fa-times-circle"></i>&nbsp;&nbsp;Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deseas eleminar esta entrada?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteNomina(persona._id)">YES</button>
            </div>
        </div>
    </div>
</div>
    