
        <!--app-login></app-login-->  
<div class="text-center ">
    <!-- mdb-card -->
    <div class="card" >
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">
      <!--Card image-->
      <!-- mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img-->
      <!--Card content-->
      <!-- mdb-card-body-->
      <div class="card-body">
        <alert></alert>
        <my-login-form (submitEM)="onSubmit($event)"></my-login-form>
      </div>
      <!-- /mdb-card-body-->

    </div>
    <!--/mdb-card-->
</div>
