<!-- TITLE -->
<div class="mb-40 mt-40">
        <h1>Inscribir persona</h1>
    </div>
    
    <div class="card">
        <div class="card-body">
            <form #editForm="ngForm" *ngIf="nomina">
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input mdbInput mdbValidate type="text" id="name" [(ngModel)]="nomina.name" class="form-control" name="name" #name="ngModel" required ><!--formControlName="nominaname"  class="form-control"-->
                        </div>
                        <div class="form-group">
                            <label for="last">Apellido</label>
                            <input mdbInput mdbValidate type="text" id="last" [(ngModel)]="nomina.last" class="form-control" name="last" #last="ngModel" required ><!--formControlName="email" class="form-control"-->
                        </div>
                        <div class="form-group">
                            <label for="correo">Correo</label>
                            <input mdbInput mdbValidate type="email" id="email" [(ngModel)]="nomina.email" class="form-control" name="email" #email="ngModel" required><!--formControlName="email" class="form-control"-->
                        </div>
                        <div class="form-group">
                            <label for="movil">Celular</label>
                            <input mdbInput mdbValidate type="tel"  id="movil" [(ngModel)]="nomina.movil" class="form-control" name="movil" #movil="ngModel" required><!-- formControlName="name"  class="form-control"-->
                        </div>
                        <div class="form-group">
                                <label for="rut">Rut y digito verificador</label>
                            <div class="row">
                                <div class="col-md-11">
                                    <input mdbInput mdbValidate type="number"  id="rut" [(ngModel)]="nomina.rut" class="form-control" name="rut" #rut="ngModel" required [disabled]="nomina._id"><!-- formControlName="name"  class="form-control"-->
                                </div>
                                <div class="col-md-1">
                                    <input mdbInput mdbValidate type="text"  id="dig" [(ngModel)]="nomina.dig" class="form-control" name="dig" #dig="ngModel" style="width: 35px" maxlength="1" size="1" required [disabled]="nomina._id"><!-- formControlName="name"  class="form-control"-->
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                                <label for="datenac">Fecha de nacimiento</label>
                            <input mdbInput mdbValidate type="date"  id="datenac" [(ngModel)]="nomina.datenac" class="form-control" name="datenac" #datenac="ngModel" required><!-- formControlName="name"  class="form-control"-->
                        </div>
                        
                        <div class="form-group">
                            <label for="comuna">Comuna</label>
                            <select class="browser-default custom-select" [(ngModel)]="nomina.comuna" name="nominacomuna" #nominacomuna="ngModel" required>
                                <option selected disabled>Seleccione una opcion</option>
                                <option *ngFor="let comuna of comunas" [value]="comuna.name" >{{comuna.name}}</option>
                            </select>
                        </div>    
                        
                        <div class="form-group">
                            <label for="direccion">Direccion</label>
                            <input mdbInput mdbValidate type="text"  id="street_num" [(ngModel)]="nomina.street_num" class="form-control" name="street_num" #street_num="ngModel" required><!-- formControlName="name"  class="form-control"-->
                        </div>    
                        
                        <div class="form-group">
                            <label for="servicio">Servicio</label>
                            <input mdbInput mdbValidate type="text"  id="servicio" [(ngModel)]="nomina.servicio" class="form-control" name="servicio" #servicio="ngModel" required><!-- formControlName="name"  class="form-control"-->
                        </div>    
                        
                        <div class="form-group">
                            <label for="sindicato">sindicato</label>
                            <select class="browser-default custom-select" [(ngModel)]="nomina.sindicato" name="nominasindicato" #nominasindicato="ngModel" required>
                                <option selected disabled>Seleccione una opcion</option>
                                <option *ngFor="let sindicato of sindicatos" [value]="sindicato.name" >{{sindicato.name}}</option>
                            </select>
                        </div>    

                        <div class="form-group">
                            <label for="monto">Monto</label>
                            <input mdbInput mdbValidate type="number"  id="monto" [(ngModel)]="nomina.monto" class="form-control" name="monto" #monto="ngModel" required><!-- formControlName="name"  class="form-control"-->
                        </div>    

                        <div class="form-group">
                            <label for="dateinemp">Fecha de contratacion</label>
                            <input mdbInput mdbValidate type="date"  id="dateinemp" [(ngModel)]="nomina.dateinemp" class="form-control" name="dateinemp" #dateinemp="ngModel" required><!-- formControlName="name"  class="form-control"-->
                        </div>    

                        <div class="mt-40">
                            <button class="btn btn-primary btn-md btn-default mx-1 pull-right" color="primary" [disabled]="editForm.invalid" (click)="save()">Save</button>
                            <button class="btn btn-secondary btn-md btn-default mx-1 pull-right mr-2" [routerLink]="['/dashboard/nomina']">Back To User List</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
